.header-item {
	size: auto;
	display: inline-block;
	margin: 1.5%;
}

.header h2 {
	font-size: 65px;
	font-family: "Suez One", serif;
}
.header {
	width: 100%;
	text-align: center;
}

.header img {
	width: 15%;
}
