/* vertical container */

.ccontainer-vertical {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 100%;
}

.ccontainer-vertical-item {
	margin: 8px;
}

/* horizontal container */

.ccontainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border: 2px solid gray;
	border-radius: 5px;
	align-items: center;
	justify-content: space-around;
}

.ccontainer-item {
	border: 2px solid green;
	border-radius: 5px;
	padding: 8px;
	margin: 8px;
	width: 40%;
}
